@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model ShopBanDoGiaDung.Models.Hangsanxuat

}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Cập nhật thông tin hãng</h3>
                        </div>

                    </div>
                </div>           
               
            </div>
            <form id="frmSuaHang" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên hãng:</label>
                        <input type="text" class="form-control" id="tenhangmoi" value="@Model.TenHang" name="Moi">
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="SuaHang(@Model.MaHang)" id="confirm">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Hủy bỏ</button>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>


<script>
    function SuaHang(id) {

        $('#confirm').on('click', function () {
            var tenhang = $('#tenhangmoi').val().toString();
            if (tenhang.trim() === "") {
                // Kiểm tra nếu trường TenHang rỗng
                alert("Bạn chưa nhập tên hãng.");
            } else {
                // Nếu trường TenHang không rỗng, tiến hành gửi yêu cầu AJAX
                $.ajax({
                    url: '/Admin/SuaHang',
                    data: {
                        id: id,
                        name: tenhang
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == true) {
                            window.location = '@Url.Action("QuanLyHang","Admin")'
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Sửa thành công',
                                showConfirmButton: false,
                                timer: 100
                            })
                        }
                    }
                });
            }
        });
        $('#cancel').on('click', function () {
            window.location = '@Url.Action("QuanLyHang","Admin")'
        });
    }

</script>
<script src="~/Admin/plugins/jquery/jquery.min.js"></script>
<script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/dist/js/adminlte.min.js"></script>
